* { margin: 0px; padding: 0px; }

body {
	text-align: left;
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	background-color: pink;
	color: white;

	background-image: url('Instagram.gif');
	background-position: center center;
	background-repeat: no-repeat;
	min-height: 100vh;
}



h1#title {
	position: fixed;
	top: 20px;
	left: 50px;
	transform: rotate(90deg);
	transform-origin: top left;
}



#content {
	width: 600px;
	height: 450px;
	position: absolute;

	top: calc(50vh - 225px);
	left: calc(50vw - 300px);
}

#buble1 {
	font-size: 12px;
	line-height: 34px;
	top:250px;
	left:370px;
	width:140px;
	text-align: center;
	position: relative;
	color:black;
}

#buble2 {
	font-size: 12px;
	line-height: 34px;
	top:210px;
	left:57px;
	width:110px;
	position: relative;
	color:black;
}

#buble3 {
	font-size: 12px;
	line-height: 34px;
	top:-20px;
	left:65px;
	width: 110px;
	position: relative;
	color:black;
}

#buble4 {
	font-size: 12px;
	line-height: 34px;
	top:220px;
	left:220px;
	width:140px;
	position: relative;
	color:black;
}

#buble5 {
	font-size: 12px;
	line-height: 34px;
	top:-40px;
	left:210px;
	width: 140px;
	text-align: center;
	position: relative;
	color:black;
}

#buble6 {
	font-size: 12px;
	line-height: 34px;
	top:-140px;
	left:400px;
	position: relative;
	color:black;
	width: 140px;
	text-align: center;
}



.info {
	position: absolute;
	top: 10px;
	font-size: 13px;
	line-height: 16px;
	color: black;
	width: 120px;
	left: -150px;
	text-align: right;
	background-color: pink;
	padding: 10px;

	opacity: 0;
	transition: all 500ms ease;
}

div:hover > .info {
	opacity: 1;
	transform: translateX(30px);		
}






